*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	--box-size: 4.8rem;
	--mark-size: calc(var(--box-size) * 0.6);
}

.container {
	flex: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}

.heading {
	font-size: 3rem;
	margin: 2rem 0;
}

table {
	border-collapse: collapse;
}

.cell {
	height: var(--box-size);
	width: var(--box-size);
	min-width: 2rem;
	min-height: 2rem;
	border: 3px solid black;
	cursor: pointer;
	font-size: var(--mark-size);
	font-weight: bold;
	text-align: center;
}

.cell:hover {
	background-color: #ddd;
}

@media screen and (max-width: 1000px) {
	.main {
		flex-direction: column;
	}
}

@media screen and (max-width: 650px) {
	.cell {
		height: 4rem;
	}
}

@media screen and (min-width: 0px) and (max-width: 400px) {
	.cell {
		height: 3.5rem;
		font-size: calc(var(--box-size) * 0.4);
	}
	#heading {
		font-size: 2.4rem;
		margin: 1rem 0 1.5rem 0;
	}
	#options {
		margin: 1rem;
	}
}

/* Remove border from first and last cells in each row */
tr > .cell:first-child,
tr > .cell:last-child {
	border-left: none;
	border-right: none;
}

/* Remove border from first and last rows */
tr:first-child .cell,
tr:last-child .cell {
	border-top: none;
	border-bottom: none;
}

#options {
	display: flex;
	margin: 10px;
	width: max-content;
	margin: 2rem;
}

label {
	font-size: 1.3rem;
	min-width: fit-content;
	padding: 1rem 0;
}

#board-size-dropdown {
	margin: 0.5rem;
	padding: 0 0.3rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 10vw;
	min-width: fit-content;
	max-width: 5rem;
	cursor: pointer;
}

#board-size-dropdown option {
	font-size: 1rem;
	background-color: #f1f1f1;
}

#reset {
	margin: 0.5rem;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 8rem;
	cursor: pointer;
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.85);
	color: white;
	font-size: 4rem;
}

.winning-message button {
	margin: 1.5rem;
	font-size: 2rem;
	padding: 1rem 2rem;
	border: 2px solid black;
	border-radius: 0.5rem;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: black;
	color: white;
	border-color: white;
}

.winning-message.show {
	display: flex;
}

.rules {
	flex: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 100vh;
}

.rules .heading {
	color: #333;
	font-size: 2.4rem;
	margin-bottom: 2px;
}

.rule-list {
	margin: 0 1rem;
	background-color: #f9f9f9;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.point {
	margin-top: 20px;
	font-weight: bold;
}

.main {
	display: flex;
	width: 100%;
}
