*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	--box-size: 4.8rem;
	--mark-size: calc(var(--box-size) * 0.6);
}

.homepage {
	height: 100vh;
	width: 100vw;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.homepage.show {
	display: flex;
}

.homepage .heading {
	margin-top: -4rem;
}

.homepage-btn {
	margin: 0.7rem;
	padding: 0.8rem 2rem;
	font-size: 1.6rem;
	border-radius: 8px;
	border: 1px solid #ccc;
	width: 13rem;
	min-width: fit-content;
	cursor: pointer;
}

.container .homepage-btn {
	font-size: 1.2rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 10rem;
}

.container {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
}

.container.show {
	display: flex;
}

.heading {
	font-size: 3rem;
	margin: 2rem 0;
	text-align: center;
}

table {
	border-collapse: collapse;
}

.cell {
	height: var(--box-size);
	width: var(--box-size);
	min-width: 2rem;
	min-height: 2rem;
	border: 3px solid black;
	cursor: pointer;
	font-size: var(--mark-size);
	font-weight: bold;
	text-align: center;
}

.cell:hover {
	background-color: #ddd;
}

/* Remove border from first and last cells in each row */
tr > .cell:first-child,
tr > .cell:last-child {
	border-left: none;
	border-right: none;
}

/* Remove border from first and last rows */
tr:first-child .cell,
tr:last-child .cell {
	border-top: none;
	border-bottom: none;
}

#options {
	display: flex;
	margin: 10px;
	width: max-content;
	margin: 2rem;
}

label {
	font-size: 1.3rem;
	min-width: fit-content;
	padding: 1rem 0;
}

#board-size-dropdown {
	margin: 0.5rem;
	padding: 0 0.3rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 10vw;
	min-width: fit-content;
	max-width: 5rem;
	cursor: pointer;
}

#board-size-dropdown option {
	font-size: 1rem;
	background-color: #f1f1f1;
}

#reset {
	margin: 0.5rem;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 8rem;
	cursor: pointer;
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	font-size: 4rem;
	text-align: center;
}

.winning-message button {
	margin: 1.5rem 1rem;
	padding: 1rem 2rem;
	width: 12rem;
	font-size: 2rem;
	border-radius: 0.5rem;
	border: 2px solid black;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: black;
	color: white;
	border-color: white;
}

.winning-message.show {
	display: flex;
}

.rules {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100vw;
}

.rules.show {
	display: flex;
}

.rules .heading {
	text-decoration: underline;
	color: #333;
	font-size: 2.4rem;
	margin-bottom: 2px;
	margin-top: 1rem;
}

.rule-list {
	margin: 0 1rem;
	background-color: #f9f9f9;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.point {
	margin-top: 20px;
	font-weight: bold;
}

#back {
	margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 650px) {
	.cell {
		height: 4rem;
	}
	.homepage .heading {
		font-size: 2.5rem;
	}
	.homepage-btn {
		margin: 0.6rem;
		padding: 0.7rem 1.8rem;
		font-size: 1.5rem;
	}
	.winning-message button {
		margin: 1.5rem 0.7rem;
		padding: 0.9rem 1.5rem;
		width: 9.5rem;
		font-size: 1.6rem;
	}
	.winning-message {
		font-size: 3rem;
	}
}

@media screen and (min-width: 0px) and (max-width: 400px) {
	.cell {
		height: 3.5rem;
		font-size: calc(var(--box-size) * 0.4);
	}
	#heading {
		font-size: 2.4rem;
		margin: 1rem 0 1.5rem 0;
	}
	#options {
		margin: 1rem;
	}
	.rules .heading {
		font-size: 2.2rem;
		margin-bottom: 1.5px;
	}
	.rule-list {
		padding: 15px;
		font-size: 0.95rem;
	}
	.homepage .heading {
		font-size: 2rem;
	}
	.homepage-btn {
		margin: 0.5rem;
		padding: 0.6rem 1.6rem;
		font-size: 1.3rem;
	}
	.winning-message button {
		margin: 1rem 0.4rem;
		padding: 0.7rem 1rem;
		width: 8rem;
		font-size: 1.2rem;
	}
	.winning-message {
		font-size: 2.7rem;
	}
}
